/build/
/proc/
/NDK/
*/build/
/ext_libs/
/bundle/
/clipart/
*backup/
/pkgs/
__pycache__
tags
*.lps
*.swp
*.swo
.gitconfig
TODO
ABOUT
*.a
*.so
*.lps
*.o
*.ppu
*.dbg
*.out
test_app
notes
Makefile
*.log
*.status
*.deps/
*.libs/
*.la
*.lo
/Dockerfile
stamp-h1
libtool
/cov-build/
*.pyc
*.CRD
