/build/
/clipart/
*backup/
/pkgs/
/gui/lazarus/deps/RichView/lib/
/gui/lazarus/UniChatMod
/gui/lazarus/icons/out/
/gui/lazarus/lib/
__pycache__
tags
*.lps
*.swp
.gitconfig
TODO
ABOUT
*.a
*.so
*.lps
*.o
*.ppu
*.dbg
*.out
test_app
