/build/
/ext_libs/
/bundle/
/clipart/
*backup/
/pkgs/
/gui/lazarus/deps/RichView/lib/
/gui/lazarus/UniChatMod
/gui/lazarus/icons/*x*/
/gui/lazarus/lib/
__pycache__
tags
*.lps
*.swp
.gitconfig
TODO
ABOUT
*.a
*.so
*.lps
*.o
*.ppu
*.dbg
*.out
test_app
notes
Makefile
config.h
*.log
*.status
*.deps/
*.libs/
*.la
*.lo
/Dockerfile
/plugins/net_legacy/ucl/examples/simple
/plugins/net_legacy/ucl/examples/uclpack
stamp-h1
libtool
/cov-build/
